/src/musicass/Boss Theme.wav
/src/musicass/Dissidia FF Opera Omnia OST Boss Theme 1.mp3
/src/musicass/Kirby Super Star.wav
/src/musicass/Soul of Cinder.wav
/src/musicass/failsound.wav
/src/musicass/undyne.wav
